{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Вход" %}{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <h2 class="fw-bold mb-5 text-center">{% trans "Вход" %}</h2>

                <form method="post"> 
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id_login">E-mail:</label>
                        <input class="form-control" id="id_login" type="email" name="login" placeholder="E-mail адрес" autocomplete="email" required id = "id_login">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id_password">Пароль:</label>
                        <input class="form-control" id="id_password" type="password" name="password" placeholder="Пароль" autocomplete="current-password" required id = "id_password">
                    </div>
                    <div class="form-check d-flex justify-content-center mb-4">
                        <label class="form-check-label" for="id_remember">
                        <input class="form-check-input me-2" id="id_remember" type="checkbox" name="remember">
                        Запомнить меня</label>
                    </div>
                    <div class="text-center"> 
                        <button class="btn btn-outline-dark px-4 mb-2" type="submit" >Войти</button> 
                    </div>
                    <div class="text-center">  
                        <a class="btn btn-link" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                        <a class="btn btn-link" href="{% url 'account_signup' %}">Регистрация</a>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}