{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Изменить пароль" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <h2 class="fw-bold mb-5 text-center">{% trans "Изменить пароль" %}</h2>
                
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id_oldpassword">Текущий пароль:</label>
                        <input class="form-control" type="password" name="oldpassword" placeholder="Текущий пароль" autocomplete="current-password" required="" id="id_oldpassword">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id_password1">Новый пароль:</label>
                        <input class="form-control" type="password" name="password1" placeholder="Новый пароль" autocomplete="new-password" required="" id="id_password1">
                        <span class="helptext"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="id_password2">Новый пароль повторно:</label>
                        <input class="form-control" type="password" name="password2" placeholder="Новый пароль повторно" required="" id="id_password2">
                    </div>
                    <div class="text-center"> 
                        <button class="btn btn-outline-dark px-4 mb-2" type="submit" name="action">{% trans "Изменить" %}</button>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}