{% extends 'flatpages/default.html' %}
{% load static %}
{% block title%}Новости{%endblock title%}
{% block content %}
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/6.jpeg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Новости</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="d-flex flex-row justify-content-center flex-wrap"> 
            {% for news in all_news %}
                <div class="col-md-6">
                    <div class="recent-game-item">
                        <a class="news-detail" href="{% url 'news_detail' news.id %}">
                            <div class="rgi-thumb set-bg" data-setbg="{{news.image.url}}"></div>
                            <div class="rgi-content">
                                <h4>{{news.header}}</h4>
                                <p>{{news.text|truncatewords:20}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
