{% extends 'flatpages/default.html' %}
{% load static %}
{% block title%}Новость{%endblock title%}
{% block content %}
 <!-- Page info section -->
 <section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/10.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Новость</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->
<section class="page-section single-blog-page spad">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex text-secondary pb-2">
                    {% for news_category in news.category.all %}
                        <a href="#" class="text-decoration-none pr-3" style="color:#ff205f">{{ news_category }}</a>
                    {% endfor %}
                    <span>{{ news.datetime }}</span> 
                </div>
                
                <div class="blog-thumb set-bg" data-setbg="{{news.image.url}}">
                </div>
                <div class="blog-content">
                    <h3>{{ news.header }}</h3>
                    <p class="text-black">{{ news.text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 
