{% extends "flatpages/default.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Объявление{% endblock title %}
{% block content %}
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/12.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Объявление</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->
<section class="page-section community-page set-bg" data-setbg="{% static "img/pict.jpg" %}">
    <div class="community-warp spad">
        <div class="container">
            <ul class="community-post-list">
                <li>
                    <div class="community-post">
                        <div class="mb-4 text-end">                          
                            {% if user == ad.user %}
                                <a class="btn btn-outline-warning btn-sm" href="{% url 'ad_update' ad.id %}">Редактировать</a>
                                <a class="btn btn-outline-warning btn-sm" href="{% url 'ad_delete' ad.id %}">Удалить</a>
                            {% endif %}
                        </div>
                        <div class="author-avator set-bg" data-setbg="{{ad.user.profile.avatar.url}}"></div>
                            <div class="post-content">
                                <h5>{{ ad.user }}</h5>
                                <div class="post-date">{{ ad.datetime }}</div>
                                <h4>{{ ad.title }}</h4>
                                <div>{{ ad.content_upload|safe}}</div> 
                            <!-- Comment -->
                            <div class="mb-4 mt-5">
                                <h3 class="text-white">Комментарии</h3>
                                    {% if user.is_authenticated %}
                                    <form method="POST" action="{% url 'ad_detail' ad.id %}" class="mt-4">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-outline-warning btn-sm mr-2">Отправить</button>
                                        </div>
                                    </form>
                                    {% else %}
                                        <p class="ml-3 mt-2">Авторизуйтесь, чтобы оставлять комментарии.</p>
                                    {% endif %}
                            </div>    
                            <ul class="comment-list">
                                {% for comment in comments %} 
                                    <li>
                                    <div class="comment">   
                                        <div class="comment-warp">
                                            <div class="comment-avator set-bg" data-setbg="{{comment.user.profile.avatar.url}}"></div>
                                        <div class="comment-content">        
                                            <h5>{{comment.user}}</h5>
                                            <p>{{comment.text}}</p>
                                            <span>{{ comment.datetime }}</span>  
                                        </div>
                                        </div>
                                    </div> 
                                    </li>
                                {% endfor %}   
                            </ul> 
                            </div>  
                    </div>
                </li>
            </ul>  
        </div>
    </div>
</section>
{% endblock content %}