{% extends 'flatpages/default.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Создать объявление{% endblock title %}
{% block content %}
<section class="page-section community-page set-bg " data-setbg="{% static 'img/pict.jpg' %}">
    <div class="community-warp ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 mt-4  mb-5">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form.media }}
                        <button type="submit" class="btn btn-outline-dark mt-2">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}