{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Удалить объявление{% endblock title %}

{% block content %}
<div class="container"> 
    <div class="row  justify-content-center">
        <div class=" col-lg-8 mt-4  mb-5">
        <h2 class="mb-5">Вы действительно хотите удалить объявление?</h2>
   
        <div class="card-body">
            <h5 class="card-title mb-4">{{ ad.title }}</h5>
            <p>{{ ad.content_upload|safe }}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">                          
                    <div class="text-center">
                        <button class=" btn btn-outline-dark px-4 mb-2">Подтвердить</button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}