{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Форум{% endblock title %}
{% block content %}
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/7.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Форум</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->

<section class="page-section community-page set-bg" data-setbg="{% static "img/pict.jpg" %}">
    <div class="community-warp spad">
        <div class="container">
            <div class="d-md-flex justify-content-md-end pb-4">
                {% if user.is_authenticated %}
                   <button class="site-btn"><a href="{% url 'ad_create' %}">Добавить объявление</a></button>
                {% endif %}
            </div>
            <!-- widget -->
                <div class="widget-item">
                    <form action="{% url 'ad_search' %}" method="get" class="search-widget">
                        <input type="text" type="search" placeholder="Поиск" name="q">
                        <button><i class="fa fa-search" type="submit"></i></button>
                    </form>
                </div>
            <!-- widget -->
            <ul class="community-post-list">
            {% for ad in ads %}
                <li>
                    <a class="ad_detail" href="{% url 'ad_detail' ad.id %}">
                        <div class="community-post">
                            <div class="author-avator set-bg" data-setbg="{{ad.user.profile.avatar.url}}"></div>
                                <div class="post-content">
                                    <h5>{{ ad.user }}<span>{{ad.game}}<span/></h5>
                                    <div class="post-date">{{ ad.datetime }}</div>
                                    <h4>{{ ad.title }}</h4>
                                    <div>{{ ad.content_upload|truncatewords:20|safe}}</div>
                                </div>   
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link link-dark" tabindex="-1" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item"><a class="page-link link-warning">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link link-dark" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link link-dark" href="?page={{  page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End pagination -->
        </div>
    </div>
</section>

{% endblock content %}
