{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Форум{% endblock title %}
{% block content %}
<section class="page-section community-page set-bg" data-setbg="{% static "img/community-bg.jpg" %}">
    <div class="community-warp spad">
        <div class="container">
            <div class="d-md-flex justify-content-md-end pb-4">
                {% if user.is_authenticated %}
                   <button class="site-btn"><a href="{% url 'ad_create' %}" target="_blank">Добавить объявление</a></button>
                {% endif %}
            </div>
            <ul class="community-post-list">
            {% for ad in ads %}
                <li>
                <div class="community-post">
                    <div class="author-avator set-bg" data-setbg="{{ad.user.profile.avatar.url}}"></div>
                        <div class="post-content">
                            <a class="ad_detail" href="{% url 'ad_detail' ad.id %}">
                                <h5>{{ ad.user }}</h5>
                                <div class="post-date">{{ ad.datetime }}</div>
                                <h4>{{ ad.title }}</h4>
                                <div>{{ ad.content_upload|truncatewords:20|safe}}</div>
                            </a>
                        </div>   
                </div>
                </li>
            {% endfor %}
            </ul>
            <div class="site-pagination sp-style-2">
                {% if page_obj.has_previous %}
                <a class="link" href="?page=1">1</a>
                <a href="?page={{ page_obj.previous_page_number }}"><</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a>{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                    <a href="?page={{  page_obj.next_page_number }}">></a>
                    <a class="link link-end" href="?page={{  page_obj.paginator.num_pages }}">{{  page_obj.paginator.num_pages }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}