{%  extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Комментарии{% endblock title %}
{% block content %}
<section class="page-section community-page set-bg" data-setbg="{% static 'img/pict.jpg' %}">
<div class="community-warp spad">
<div class="container min-vh-100 d-flex flex-column">

{% for comment in comments %}
        <ul class="community-post-list">
            <li>
                <div class="community-post">
                    <div class="post-content">
                        <p>{{ comment.text }}</p>
                        <div class="post-date text-end mt-3 pe-3">{{ comment.datetime }}</div>
                        <p class="text-end pe-3" style="color: #0dcaf0"><small class="text-white">Пользователь: </small>{{ comment.user }}</p>  
                            <a class="btn btn-outline-warning btn-sm mr-2 update_active" data-url="{% url 'update_comment' comment.id 'public' %}"  href="#">Принять</a>
                            <a class="btn btn-outline-warning btn-sm update_active" data-url="{% url 'update_comment' comment.id 'delete' %}"  href="#">Удалить</a>
                    </div>
                </div>
            </li>
        </ul>
{% endfor %}
</div>
</div>
</section>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $('body').on('click','.update_active', function(event){
        event.preventDefault();
        if (confirm('Вы уверены? ')){
            var url = $(this).attr('data-url')
            var tag = $(this).parent()
            
            $.ajax({
                url:url,
                type: 'GET',
                success: function(response){
                    tag.html(response)
                    console.log(response)
                    
                }
        })
        }    
    })
    </script>
{% endblock js %}